<footer>
    <div class="container">
        <div class="developer" style="margin-bottom:10px;">
            Developed with all <i class="fa-solid fa-heart" style="color:tomato;"></i> by
            <b>Shawky Ebhraim</b>
        </div>
        <div class="links">
            <a href="https://www.facebook.com/shawky.ebrahim.ahmed/" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href="https://www.linkedin.com/in/shawkyebrahim2514/" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            <a href="https://t.me/shawkyebrahim2514" target="_blank"><i class="fa-brands fa-telegram fa-lg"></i></a>
            <a href="mailto:shawky.ebrahim2514@gmail.com" target="_blank"><i class="fa-solid fa-at fa-lg"></i></a>
        </div>
    </div>
</footer>