<div class="messages">
    <section class="success-message">
        <p>SuccessFul Message Here</p>
    </section>
    <section class="warning-message">
        <p>Warning Meassage Here</p>
    </section>
</div>