<div class="quote-searching-info popup-window">
    <div class="container">
        <div class="exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="quotes-container">
        </div>
        <div class="creator">
        </div>
    </div>
</div>