<section class="searching">
    <form action="#" class="quote-searching" method="post">
        <section class="search-block">
            <i class="fas fa-search search-icon"></i>
            <input type="search" id="word-search" name="word-search" placeholder="Search about quotes...">
        </section>
        <section class="search-items">
        </section>
    </form>
</section>