<div class="quote-editing" data-id="null">
    <div class="container">
        <div class="exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <%- include('./quote-form') %>
    </div>
</div>