.logout {
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 0.5rem 1rem;
    background-color: var(--red-color);
    border-radius: var(--border-radius);
    border: var(--border);
    font-weight: bold;
}

header section.info {
    font-size: 1.2rem;
    line-height: 30px;
}

header .profile-link {
    color: var(--main-color);
    font-weight: bold;
}