<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/common-head.ejs', {pageTitle: "Registration page"})%>
</head>
<body>
    <%- include('partials/navbar', {authenticated: false, currentPage: "register"}) %>
    <header>
        <div class="container">
            <span class="highlight">Register</span> and Start Quoting!
        </div>
    </header>
    <%- include('partials/messages') %>
    <main>
        <div class="container">
            <form action="#" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter here your username">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="Enter here your email">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter here your password">
                <label for="confirm-password">Confirm password:</label>
                <input type="password" name="confirm_password" id="confirm-password" placeholder="Enter here again your password">
                <label for="first-name">First name:</label>
                <input type="text" name="first_name" id="first-name" placeholder="Enter here your first name">
                <label for="second-name">Second name:</label>
                <input type="text" name="second_name" id="second-name" placeholder="Enter here your second name">
                <div class="buttons">
                    <input type="reset" name="reset" id="reset" value="RESET"/>
                    <input type="submit" name="submit" id="submit" value="SUBMIT"/>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="js/register.js" type="module"></script>
</body>
</html>